{% extends 'home/base.html' %}

{% block title %}HOME{% endblock %}

{% block body %}
	<div class="body" style="width:100%; position:relative; height:100%;">
		<h1>韩梦成的个人主页</h1>
		<a href="faceunlock">faceunlock</a><br>
		<a href="polls">polls</a><br>
		<div class="bottom" style="margin-top: 40%;">
		<!-- 网页计数器开始 -->
		<script src="http://counter.i2yes.com/i2yesCounter.js" type="text/javascript"></script>
		<script type="text/javascript">document.write(i2yesCounter.render({ y:'counter',p:'MyCounter', v:'www.hanmengcheng.com', d:6, r:1, t:'font158', s:0,  n:0	}));</script>
		<!-- 网页计数器开始 -->
		</div>
	</div>
{% endblock %}