<html>
    <head>
    	{% load staticfiles %}
    	<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{% static 'faceunlock/images/favicon.ico' %}" type="image/hmc-icon" />
		<link rel="icon" href="{% static 'faceunlock/images/favicon.ico' %}" type="image/hmc-icon" />
		<style>
		    body{
		    	text-align: center;
		    }
		</style>
		{% block css %}{% endblock %}
		<script type="text/javascript" src="{% static 'faceunlock/js/jquery-3.2.1.min.js' %}"></script>
		{% block js %}{% endblock %}
    </head>
	
	<body>
	{% block body %}
	{% endblock %}
	</body>
</html>